*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgb(200, 149, 186);
    color: white;
}
header nav{
    background-color: rgb(59, 53, 53);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    
}
header nav h1{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

header nav form{
    display: flex;
    justify-content: center;
}

form input [type="text"]{
    flex-grow: 1;
    margin-right: 10px;
}
form input[type="text"],button[type="submit"]{
   border: none;
   font-size: 18px;
   padding: 10px;
   border-radius: 4px;

}
form button[type="submite"]{
    background-color: rgba(163, 133, 159, 0.77);
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
form button[type="submite"]:hover, .recipe button:hover,.recipe-close-btn:hover{
    background-color: rgba(163, 133, 159, 0.77);
}
.recipe-container{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 40px;
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    place-items: center;
}
.recipe{
    background-color: white;
    display: flex;
    flex-direction: column;
    color: rgb(147, 73, 160);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgb(14, 13, 13), -5px 5px 10px rgb(85, 74, 74);
    cursor: pointer;
    max-width: 350px;
    transition: transform 0.3s ease-in-out;


}
.recipe:hover{
    transform: scale(1.02);

}





.recipe img{
    height: 300px;
}
.recipe h3{
    font-size: 24px;
    margin-block: 5px;
}
.recipe p{
    font-size: 20px;
    color: rgb(206, 179, 179);
    margin: 5px 0;
}
.recipe span{
    font-weight: 600;
}
.recipe button{
    font-size: 20px;
    font-weight: 600;
    padding: 10px ;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto;
    background-color: rgba(163, 133, 159, 0.77);
    color: white;
}
.recipe-details{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: rgb(164, 137, 169);
    border-radius: 12px;
    width: 40%;
    height: 40%;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
    overflow-y: scroll;
}

.recipe-details::-webkit-scrollbar{
    width: 10px;

}
.recipe-details::-webkit-scrollbar-thumb{
    background-color: rgb(240, 185, 239);
    border-radius: 10px;
    --webkit-border-redius: 10px; 
}

.recipe-details-content{
    padding: 30px;
}

.recipeName{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 10px;
}

.ingredientsList li{
    margin-top: 10px;
    margin-left: 20px;
}
.recipeInstructions p{
    line-height: 30px;
    white-space: pre-line;
}
.recipe-close-btn{
    border: none;
   font-size: 18px;
   padding: 8px;
   border-radius: 4px;
   background-color: rgba(110, 44, 99, 0.77);
   color: white;
   position: absolute;
   top: 20px;
   right: 20px;
   width: 30px;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
}


.recipeName,.ingredientsList,.recipeInstructions{
    margin-bottom: 20px;

}
/* body::-webkit-scrollbar{
    width: 15px;
}
.body::-webkit-scrollbar-thumb{
    background: #e1dae1;
}
body::-webkit-scrollbar-track{
    background: #6b506c;
} */




/* responsive */
@media screen and(max-width:600px){
    header nav{
        flex-direction: column;
    }

    header nav form{
        width: 80%;
        margin-top: 20px;
    
    }
    
}